body {
    text-align: center;
}

h1 {
    margin-bottom: 200px;
}

td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

table {
    border-spacing: 0px;
    margin: auto auto;
}


tr:nth-child(even) td:nth-child(odd) {
    background-color: black;

}

tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: darkgoldenrod;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: darkgoldenrod;
}

td {
    position: relative;
}

span {
    position: absolute;
}

tr:first-child span {
    top: -20px;
    left: 15px;
}

tr:first-child td:first-child span:last-child {
    left: -20px;
    top: 15px;
}

tr td:first-child span {
    left: -20px;
    top: 15px;
}

tr td:last-child span {
    right: -20px;
    top: 15px
}

tr:last-child span {
    bottom: -20px;
    left: 15px;
}

tr:first-child td:first-child span:first-child {
    top: -20px;
    left: 15px;
}

tr:last-child td:first-child span:last-child {
    top: 55px;
    left: 20px;
}

tr:last-child td:last-child span:first-child {
    top: 55px;
    left: -15px;

}

tr:last-child td:last-child span:last-child {
    right: -70px;

}

tr:first-child td:last-child span:last-child {
    right: -70px;
    top: 15px;
}

tr:first-child td:last-child span:first-child {
    top: -20px;
    right: 15px
}



td:not([style*="background-color: darkgoldenrod"]):not([style*="background-color: black"]):hover {
    background-color: red; cursor: pointer;
}